*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.HomeComponent{
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    position: relative;
}
.myImage{
    height: 300px;
    width: 200px;
    position: sticky;
    
}
@media only screen and(max-width:1024px) {
    .HomeComponent{
        position: relative;
        bottom: -70px;
        
    }
}